#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

binary-install/d-feet::
	dh_icons -pd-feet
	dh_desktop -pd-feet
	rm -rf debian/d-feet/usr/share/omf/
	rm -rf debian/d-feet/usr/lib/
